# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
{sevoltimod  şlsioprıgyaf hhhh tksm- tk  5556113

road 
leading 
lormor 
crow 
cat 
down
up
left
right
righjt
lift
space
easy
kingfdom
multiplayer
multiself
happy mod 
ex
kronos
jwı2
lfgb
tom







# Other files and folders
.settings/

# Executables
*.swF
*.TXT
* LSX
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
